*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
video
{
  width: 100%;
  position: fixed;
}
@media only screen and (max-width: 1250px) {
  video
  {
    height: 100vh;
    position: fixed;
    width: auto;
    background-position: bottom center;
  }
}
