html
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: white;
}
.row
{
  margin-top: 25vh;
}
.row .card
{
  perspective: 1500rem;
  -moz-perspective: 1500rem;
  height: 20%;
  width: 10%;
  padding-bottom: 21%;
  padding-left: 4%;
  padding-right: 4%;
  margin-left: 5%;
  margin-right: 5%;
  display: inline-block;
  position: relative;
}
.card_side
{
  left: 0;
  position: absolute;
  transition: all .7s ease;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  box-shadow: 0 1rem 2.2rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.front
{
  background-color: #b34fc6;
}
.back
{
  transform: rotateY(180deg);
}
#back1
{
  background-image: linear-gradient(to right bottom, #b34fc6, #774fc6);
}
#back2
{
  background-image: linear-gradient(to bottom, #b34fc6, #774fc6);
}
#back3
{
  background-image: linear-gradient(to left bottom, #b34fc6, #774fc6);
}
.row .card:hover .front
{
  transform: rotateY(-180deg);
}
.row .card:hover .back
{
  transform: rotateY(0deg);
}
.col2
{
  margin-left: 10%;
  margin-right: 10%;
}
video
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}
header
{
  margin-top: 6%;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.8vw;
}
header div
{
  padding-top: 0.4%;
  padding-bottom: 0.4%;
}
header div span
{
  color: red;
}
#title1
{
  animation-name: moveleft;
  animation-duration: 2.3s;
  animation-timing-function: linear;
}
#title2
{
  animation-name: moveright;
  animation-duration: 2.3s;
  animation-timing-function: linear;
}
img
{
  height: 30%;
  width: 30%;
  animation-name: movetop;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.btn:link, .btn:visited
{
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  color: #777;
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 21.5%;
  border-radius: 7rem;
}
.btn:hover
{
  transform: translateY(-.2rem);
  box-shadow: 0 .8rem 1.4rem rgba(0, 0, 0, .2);
}
.btn:active
{
  transform: translateY(-.1rem);
  box-shadow: 0 .4rem .8rem rgba(0, 0, 0, .2);
}
.btn::after
{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 7rem;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}
.btn:hover::after
{
  transform: scaleX(1.25) scaleY(1.4);
  opacity: 0;
}
.card_img
{
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  height: 45%;
}
#pic1
{
  background-image: linear-gradient(to left bottom, #b34fc6, #774fc6), url("video.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
#pic2
{
  background-image: linear-gradient(to left bottom, #b34fc6, #774fc6), url("diary.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 85%);
}
#pic3
{
  background-image: linear-gradient(to left bottom, #b34fc6, #774fc6), url("makeof.jpg");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}
.card_header
{
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  top: 22.3%;
  text-align: right;
}
#head1
{
  right: 2%;
  background-image: linear-gradient(to right bottom, rgba(179, 79, 198, .85), rgba(119, 79, 198, .85));
}
#head2
{
  background-image: linear-gradient(to bottom, rgba(179, 79, 198, .85), rgba(119, 79, 198, .85));
  left: 35%;
}
#head3
{
  background-image: linear-gradient(to left bottom, rgba(179, 79, 198, .85), rgba(119, 79, 198, .85));
  left: 2%;
}
.details
{
  font-size: 1.15rem;
  margin-top: 24%;
  color: #d8d8d8;
}
.back span
{
  font-size: 1.4rem;
  display: block;
  margin-top: 50%;
}
@media only screen and (max-width: 414px) {
  video
  {
    height: 100vh;
  }
  .row
  {
    margin-top: 30vh;
    height: 25vh;
  }
  header
  {
    margin-top: 17%;
    font-size: 0.78rem;
  }
  header div
  {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  img
  {
    margin-top: 15vh;
  }
  .card div
  {
    font-size: .53rem;
  }
  .card_side
  {
    box-shadow: 0 .5rem 1.1rem rgba(0, 0, 0, 0.5);
    width: 140%;
    left: -20%;
  }
  .btn:active
  {
    transform: translateY(.1rem);
  }
  .btn
  {
    font-size: .48rem;
  }
  .btn:link, .btn:visited
  {
    border-radius: .26rem;
    left: 22.5%;
    top: 77%;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .2);
  }
  .btn:active
  {
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, .2);
  }
  .btn:active::after
  {
    transform: scaleX(1.25) scaleY(1.4);
    opacity: 0;
  }
  .back span
  {
    font-size: .6rem;
    display: block;
    margin-top: 35%;
  }
  .details
  {
    font-size: .2rem;
    margin-top: 10%;
  }
  .card_header
  {
    font-size: .6rem;
    top: 21.5%;
  }
  #head1
  {
    right: 3%;
  }
  #head2
  {
    left: 33%;
  }
  #head3
  {
    left: 3%;
  }
}
@media only screen and (min-width: 415px) {
  .btn:link, .btn:visited
  {
    padding: 1rem 3rem;
  }
}
@keyframes moveleft {
  0% {
    transform: translate(-5vw);
    opacity: 0.2;
  }
  69% {
    transform: translate(2vw);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveright {
  0% {
    transform: translate(5vw);
    opacity: 0.2;
  }
  69% {
    transform: translate(-2vw);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes movetop {
  0% {
    transform: translateY(5vh);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
