html
{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: white;
}
.row
{
  margin-top: 25vh;
}
.row span
{
  display: inline-block;
  padding-top: 3%;
  padding-bottom: 15%;
  padding-left: 7%;
  padding-right: 7%;
  background-color: #b450c7;
}
.col2
{
  margin-left: 10%;
  margin-right: 10%;
}
video
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
header
{
  margin-top: 6%;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.8vw;
}
header div
{
  padding-top: 0.4%;
  padding-bottom: 0.4%;
}
header div span
{
  color: red;
}
#title1
{
  animation-name: moveleft;
  animation-duration: 2.3s;
  animation-timing-function: linear;
}
#title2
{
  animation-name: moveright;
  animation-duration: 2.3s;
  animation-timing-function: linear;
}
img
{
  height: 30%;
  width: 30%;
  animation-name: movetop;
  animation-duration: 1s;
  animation-timing-function: linear;
}
@media only screen and (max-width: 750px) {
  video
  {
    height: 100vh;
  }
  .row
  {
    margin-top: 25vh;
  }
  header
  {
    margin-top: 17%;
    font-size: 0.78rem;
  }
  header div
  {
    padding-top: 1%;
    padding-bottom: 1%;
  }
  img
  {
    margin-top: 20vh;
  }
}
@keyframes moveleft {
  0% {
    transform: translate(-5vw);
    opacity: 0.2;
  }
  69% {
    transform: translate(2vw);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveright {
  0% {
    transform: translate(5vw);
    opacity: 0.2;
  }
  69% {
    transform: translate(-2vw);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes movetop {
  0% {
    transform: translateY(5vh);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
