*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
video
{
  width: 100%;
  position: fixed;
}
.select
{
  position: absolute;
  height: 10rem;
  width: 20rem;
  color: white;
  margin-top: 15%;
}
.col1, .col2, .col3
{
  display: inline-block;
  margin-left: 2.5rem;
  margin-right: 2rem;
}
@media only screen and (max-width: 1250px) {
  video
  {
    height: 100vh;
    position: fixed;
    width: inherit;
    background-position: bottom center;
  }
}
